.panier
{
	border:1em double #605A59;
	margin:3em 4em 4em 4em;
	box-shadow:5px 5px 5px lightgrey;
	
}


.logo_panier_vide
{
	width:30%;
	margin:2em 0 2em 28em;
}

.panier h1
{
	border-bottom:solid #605A59;
	background-color:#FB796E;
	text-align:center;
	margin:0;
}

.image_nuoc
{
	margin:2em 2em 4em 2em;
	border: 0.2em solid white;
	box-shadow:5px 5px 5px grey;
	float:left;
}

input[type=submit]
{
	font-size:1.3em;
}

.paiement
{
	clear:both;
}

legend
{
	font-size:1.3em;
	font-weight:bold;
}

fieldset
{
	border:1em double #605A59;
	width:15%;
	margin:0 4em 2em 7.5em;
	box-shadow:5px 5px 5px lightgrey;

}

h3
{
	font-size:1.3em;
	font-weight:bold;
}

h4
{
	font-size:1.2em;
	border-top: solid #FB796E;
	padding:0.5em 0 0 0;
}

.total
{
	font-size:1.3em;
	font-weight:bold;
	border-bottom:solid #FB796E;
	padding: 0 0 0.5em 0;
}


.paiement input[type=submit]
{
	align-self:center;
	margin:0 0 0 22em;
}

select
{
	font-size:1.2em;
}
