.qui img
{
	border:solid white;
	float:left;
	margin:0.7em 0.5em 1.5em 0.5em;
	border-radius:25px;
}

.presentation
{
	border:solid white;
	margin:0 0 0 2em;
}

.contenu
{	border:0.3em solid #605A59;
	background-color:rgba(251,121,110,0.65);
	padding:1.2em;
	text-align:justify;
	border-radius:15px;
}

footer 
{
	clear:both;
}

h1 
{
	margin-top:7em;
	border:0.7em double #605A59;
	border-radius:15px;

}