/*responsive*/
@media(max-width: 900px)
{
	.qui img
	{
		display:none;
	}

	.qui h1
	{
		margin-top:2em;
	}
}

/*page qui-sommes-nous?*/
/*image qui-somme-nous?*/
.qui img
{
	border:solid white;
	float:left;
	margin:0.7em 0.5em 1.5em 0.5em;
	border-radius:25px;
}

/*texte de presentation*/
h1 
{
	margin-top:7em;
	border:0.7em double #605A59;
	border-radius:15px;

}

.presentation
{
	border:solid white;
	margin:0 2em 0 2em;
}

.contenu
{	border:0.3em solid #605A59;
	background-color:rgba(251,121,110,0.65);
	padding:1.2em;
	text-align:justify;
	border-radius:15px;
}

.qui .contenu
{

}

footer 
{
	clear:both;
	margin-top:5em;
}

/*page methodologie*/
.methodo h1
{
	text-align:center;
	border:double #605A59;
	border-radius:15px;
	margin:2em;
	font-size:2em;
}

.methodo h2
{
	text-align:center;
	background-color:rgba(251,121,110);
	border-bottom:solid #605A59;
	margin:0;
	padding:0.2em;
}

.methodo div
{
	border:0.7em double #605A59;
	border-radius:15px;
	width:93%;
	margin-bottom:2em;
	margin-right:auto;
	margin-left:auto;
	box-shadow:5px 5px 5px lightgrey;

}

.methodo p
{
	padding-left:1.2em;
	padding-right:1.2em;
}
